# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
requirements.txt

# Environment variables
.env

# IDE
.vscode/
.idea/

# Database
*.db
*.sqlite3

# Testing
.pytest_cache/
.coverage


steps.md